button {
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: none;
}
.btn-save {
  background-color: #189094;
}
.btn-next {
  background-color: #DDCC33
}
.btn-negative {
  background-color: #990000
}