{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="Stylesheet" type="text/css" href="/static/croppie.css">
  <link rel="Stylesheet" type="text/css" href="/static/main.css">
{% endblock styles %}

{% block scripts %}
  {{ super() }}
  <script src="/static/croppie.min.js"></script>
  <script src="/static/main.js"></script>
  <script>
    $(document).ready(function(){Crop.init()});
  </script>
{% endblock scripts %}

{% block title %}Cropsie{% endblock title %}

{% block navbar %}
  <div class="navbar navbar-fixed-top">
  </div>
{% endblock navbar %}

{% block content %}
  <center>
    <div id="crop-container"></div>
    <div id="actions">
      <button class="btn-save" onclick="javascript:saveCrop()">Save!</button> | 
      <button class="btn-next" onclick="javascript:loadRandomImage()">Next</button>
    </div>
    <hidden id="rawId"></hidden>
  </center>
{% endblock content %}